.navbar-toggler{
    color: #fff;
    font-size: 26px;
}

@media (max-width: 575px) {
.navbar .navbar-nav li a {
    padding: 12px 20px;
    font-size: 12px;
}

.navbar {
    margin: 0 !important;
    width: 100%;
    position: relative;
    left: auto;
    transform: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
}
    
    .navbar {
        position: fixed;
    }
}


@media (max-width: 768px) {
    .profile-info{
            margin-top: 0;
        }
    
    header:after {
            display: none;
        }
}